# Preserve exact upstream bytes in reviewed library bundles and license notices.
src/automata/apps/skill_builder/templates/lib/*.js -whitespace
src/automata/apps/skill_builder/templates/licenses/*.txt -whitespace
